@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

/* For Mobile */
@media screen and (max-width: 540px) {
  .view {
    width: 400px;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .view {
    width: 600px;
  }
}

.Frame3 {
  font-family: "DM Sans", sans-serif;
  background: #0c0c0c;
  color: #ffff;
  align-items: center;
  justify-content: center;
  margin-left: 50vh;
  height: 1400px;
  width: 387px;
  padding: 10px 10px;
}

.Frame3 .icons {
  display: flex;
}

.Frame3 .icon-1 {
  position: relative;
  width: 24px;
  size: 4px;
  height: 24px;
  left: 24px;
  top: 25px;
}

.Frame3 .icon-2 {
  position: relative;
  width: 24px;
  height: 24px;
  left: 322px;
  top: 25px;
}

.Frame3 .line {
  position: relative;
  width: 318px;
  height: 0px;
  left: 30px;
  top: 71px;

  border: 1px #585858;
}

.Frame3 .reactangle {
  position: relative;
  width: 311px;
  height: 407px;
  left: 34px;
  top: 104px;

  background: linear-gradient(161.32deg, #4082b7 6.43%, #1d69a5 87.57%);
}

.Frame3 .reactangle .rectangle1 {
  position: relative;
  width: 259.13px;
  height: 110.22px;
  left: 10px;
  top: 180px;
  /* opacity: -1; */

  background: #0b3e66;
  filter: blur(27px);
  transform: rotate(-129.79deg);
}

.Frame3 .reactangle .bottle {
  position: absolute;
  width: 89px;
  height: 278px;
  left: 80.58px;
  top: 60px;
  background: #c4c4c4;
  transform: rotate(-22.92deg);
}

.Frame3 .reactangle .bottle1 {
  position: absolute;
  width: 31.58px;
  height: 70.65px;
  left: 270px;
  top: 10px;
  mask-repeat: no-repeat;
  background: url(bottle1.png);
  filter: blur(1px);
  transform: rotate(21.66deg);
}

.Frame3 .reactangle .bottle2 {
  position: absolute;
  width: 31.58px;
  height: 70.65px;
  left: 1px;
  top: 340px;
  mask-repeat: no-repeat;
  background: url(bottle1.png);
  filter: blur(1px);
  transform: rotate(-4.8deg);
}

.Frame3 .reactangle .bottle3 {
  position: absolute;
  width: 31.58px;
  height: 70.65px;
  left: 270px;
  top: 380px;
  mask-repeat: no-repeat;
  background: url(bottle1.png);
  filter: blur(1px);
  transform: matrix(-0.93, -0.36, -0.36, 0.93, 0, 0);
}

.Frame3 .titlecontent {
  position: relative;
  width: 313px;
  height: 88px;
  left: 38px;
  top: 200px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 136.2%;
  color: #fff;
}

.Frame3 .title-about {
  position: relative;
  width: 311px;
  height: 69px;
  left: 39px;
  top: 220px;
  font-weight: 400;
  font-family: Belgrano;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 193.7%;
  /* or 23px */

  color: #ffff;
}

.Frame3 .Group-333 {
  position: relative;
  width: 226px;
  height: 20px;
  left: 39px;
  display: flex;
  top: 220px;
  /* background-color: #ffffff; */
}

.Frame3 .Group-333 .content-1 {
  position: absolute;
  width: 85px;
  height: 20px;
  left: 1px;
  /* top: 768px; */

  /* padding: 5px; */
  background: #079741;
  border-radius: 10px;
}
.Frame3 .Group-333 .content-1 .checked-1 {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 3px;
  top: 1px;

  background: #fff;
}
.Frame3 .Group-333 .content-1 .checked-2 {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 19px;
  top: 1px;

  background: #fff;
}
.Frame3 .Group-333 .content-1 .checked-3 {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 36px;
  top: 1px;

  background: #fff;
}
.Frame3 .Group-333 .content-1 .checked-4 {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 53px;
  top: 1px;

  background: #fff;
}
.Frame3 .Group-333 .content-1 .checked-5 {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 70px;
  top: 1px;

  background: #fff;
}
.Frame3 .Group-333 .content-2 {
  position: absolute;
  width: 21px;
  height: 16px;
  left: 90px;
  /* top: 770px; */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.Frame3 .Group-333 .content-3 {
  position: absolute;
  width: 101px;
  height: 18px;
  left: 115px;
  /* top: 769px; */

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 175.7%;
  /* identical to box height, or 18px */

  text-align: center;

  color: #424648;
}

.Frame3 .Group-35 {
  position: relative;
  top: 220px;
  display: flex;
  left: 40px;
}

.Frame3 .Group-35 .rupee-1 {
  width: 85px;
  height: 39px;
  left: 39px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  margin: 30px 0px;
}

.Frame3 .Group-35 .rupee-2 {
  width: 94px;
  height: 39px;
  left: 179px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-decoration-line: line-through;
  color: #3c464f;
  margin: 30px 0px;
}

.Frame3 .Group-335 {
  position: relative;
  width: 306px;
  height: 94px;
  left: 22px;
  top: 900px;
  display: flex;
  color: #fff;
}

.Frame3 .Group-334 {
  position: relative;
  width: 306px;
  height: 124px;
  left: 22px;
  top: 240px;
  background: #21272c;
  border-radius: 10px;
}

.Frame3 .Group-334 .content-1 {
  position: absolute;
  width: 70px;
  height: 13px;
  left: 15px;
  top: 17px;

  background: #067bd8;
  border-radius: 8px;
}
.Frame3 .Group-334 .content-1 .content-1-sub {
  position: absolute;
  width: 46px;
  height: 13px;
  left: 12px;
  top: 0.5px;
  display: inline-block;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 6px;
  line-height: 223.7%;
  /* or 13px */

  color: #ffffff;
}
.Frame3 .Group-334 .content-2 {
  position: absolute;
  width: 208px;
  height: 22px;
  left: 15px;
  top: 40px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 136.2%;
  /* identical to box height, or 22px */

  color: #ffffff;
}

.Frame3 .Group-334 .content-3 {
  position: absolute;
  width: 206px;
  height: 23px;
  left: 15px;
  top: 70px;

  font-family: Belgrano;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 193.7%;
  /* or 23px */

  color: #465d68;
}

.Frame3 .Group-334 .content-4 {
  position: absolute;
  width: 42px;
  height: 43px;
  left: 250px;
  top: 40px;

  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 223.7%;
  /* identical to box height, or 43px */

  text-align: right;

  color: #ffffff;
}

.Frame3 .Group-334 .content-5 {
  position: absolute;
  width: 41px;
  height: 43px;
  left: 250px;
  top: 70px;

  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 223.7%;
  /* identical to box height, or 43px */

  text-align: right;
  text-decoration-line: line-through;

  color: #4c6070;
}

.Frame3 .Group-334 .content-6 {
  position: absolute;
  width: 64px;
  height: 16px;
  left: 15px;
  top: 95px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 136.2%;
  /* or 16px */

  color: #24db6d;
}
.Frame3 .Group-334 .content-7 {
  position: absolute;
  width: 72px;
  height: 16px;
  left: 85px;
  top: 95px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 136.2%;
  /* or 16px */

  color: #db9d24;
}

.Frame3 .Group-335 {
  position: relative;
  width: 306px;
  height: 94px;
  left: 22px;
  top: 260px;

  background: #374b5b;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
}

.Frame3 .Group-335 .content-1 {
  position: relative;
  width: 208px;
  height: 22px;
  left: 15px;
  top: 14px;
  display: inline-block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 136.2%;
  /* identical to box height, or 22px */

  color: #ffffff;
}

.Frame3 .Group-335 .content-2 {
  position: relative;
  width: 41px;
  height: 43px;
  left: 43px;
  top: 20px;

  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 223.7%;
  /* identical to box height, or 43px */

  text-align: right;

  color: #ffffff;
}

.Frame3 .Group-335 .content-3 {
  position: relative;
  width: 42px;
  height: 43px;
  left: 0px;
  top: 45px;

  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 223.7%;
  /* identical to box height, or 43px */

  text-align: right;
  text-decoration-line: line-through;

  color: #28333d;
}

.Frame3 .Group-335 .content-4 {
  position: absolute;
  width: 206px;
  height: 23px;
  left: 15px;
  top: 35px;

  font-family: Belgrano;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 193.7%;
  /* or 23px */

  color: #28333d;
}

.Frame3 .Group-335 .content-5 {
  position: absolute;
  width: 60px;
  height: 16px;
  left: 15px;
  top: 60px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 136.2%;
  /* or 16px */

  color: #24db6d;
}

.Frame3 .Group-7 {
  display: flex;
  position: relative;
  width: 327px;
  height: 47px;
  left: 20px;
  top: 280px;
  border-radius: 5px;
  background: #13324a;
  box-shadow: 0px 1px 15px rgba(2, 2, 2, 0.04),
    inset 0px 0px 15px rgba(88, 88, 88, 0.3);
}

.Frame3 .Group-7 .group-7-icon {
  position: relative;
  width: 16px;
  left: 115px;
  top: 15px;
}

.Frame3 .Group-7 .group-7-content {
  position: relative;
  width: 101px;
  height: 16.65px;
  left: 117px;
  top: 16px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.045em;

  color: #ffffff;
}
